<% provide(:title, "Serviços") %>

<div class="span10 offset1">
    <h1>Serviços</h1>

    <div class="actions">
        <%= link_to 'Novo Serviço', new_service_path, class: 'btn' %>
    </div>

    <table class="table">
        <tbody>
            <% @services.each do |service| %>
                <tr>
                    <td><%= link_to service.nome, edit_service_path(service) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>