<% provide(:title, "Dashboard") %>

<div class="row-fluid">
	<div class="span4 offset1">
		<%= render 'alerts' %>
	</div>
	<div class="span6">
		<%= render 'interns/searchform' %>
		<%= render 'interns_by_specialty' %>
	</div>
</div>