<% provide(:title, "Opções Ano Comum") %>

<div class="span10 offset1">
    <h1>Opções Ano Comum</h1>
    <div class="actions">
        <%= link_to 'Nova Opção Ano Comum', new_fyoption_path, class: 'btn' %>
    </div>
    <table class="table">
        <tbody>
            <% @fyoptions.each do |fyoption| %>
                <tr>
                    <td><%= link_to fyoption.nome, edit_fyoption_path(fyoption) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>