<% provide(:title, "Unidades de Saúde") %>

<h1>Unidades de Saúde</h1>
<div class="span6 offset3">
    <div class="actions">
        <%= link_to 'Nova Unidade de Saúde', new_healthcareunit_path, class: 'btn btn-primary' %>
    </div>

    <table class="table">
        <tbody>
            <% @healthcareunits.each do |healthcareunit| %>
                <tr>
                    <td><%= link_to healthcareunit.nome, edit_healthcareunit_path(healthcareunit) %></td>
                    <td><%= link_to 'Eliminar', healthcareunit, method: :delete, data: { confirm: 'Tem a certeza?'}, class: 'btn btn-danger' %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>