<% provide(:title, "Unidades de Saúde") %>

<div class="span10 offset1">
    <h1>Unidades de Saúde</h1>

    <div class="actions">
        <%= link_to 'Nova Unidade de Saúde', new_healthcareunit_path, class: 'btn' %>
    </div>

    <table class="table">
        <tbody>
            <% @healthcareunits.each do |healthcareunit| %>
                <tr>
                    <td><%= link_to healthcareunit.nome, edit_healthcareunit_path(healthcareunit) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>