<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @healthcareunit.nome %>
</p>

<%= link_to 'Edit', edit_healthcareunit_path(@healthcareunit) %> |
<%= link_to 'Back', healthcareunits_path %>
